| {% capture relevant_date %}
| {% if post.date %}{{post.date}}{% else %}{{page.date}}{% endif %}
| {% endcapture %}

| {% capture datetime %}{{relevant_date | date: "%Y-%m-%d" }}{% endcapture %}
time datetime="{{datetime}}" itemprop="datePublished"
  | {{relevant_date | date: "%B %e, %Y" | upcase}}
